main>form label:nth-of-type(n+5),
main>form label:nth-of-type(2),
main>form label:nth-of-type(3) {
    padding-left: 10px;
}

.order-submit {
    position: relative;
    height: 100px;
    width: 900px;
}

.order-submit img {
    width: 100px;
}

.order-submit span:nth-of-type(2) {
    position: relative;
    left: 0;
    top: -80px;
}

.order-submit span:nth-of-type(2) a {
    font-size: 18px;
    line-height: 20px;
}

.order-submit span:nth-of-type(3) {
    position: absolute;
    top: 10px;
    left: 705px;
}

.order-submit span:nth-of-type(4) {
    position: absolute;
    top: 31px;
    left: 735px;
}

.order-submit span:nth-of-type(5) {
    position: absolute;
    left: 672px;
    top: 80px;
}

main p {
    font-size: 16px;
    padding: 20px 0 0 567px;
}

input[type="submit"] {
    border-radius: 5px;
    padding: 5px 20px;
    background-color: transparent;
    position: relative;
    left: 670px;
    top: 10px;
}