h3 {
    margin-top: 45px;
}

aside {
    height: 700px;
}

input,
select,
textarea {
    padding: 5px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
}

textarea {
    position: relative;
    left: 0;
    top: 45px;
}

input[type="submit"] {
    padding: 5px 30px;
    position: relative;
    top: 40px;
    left: -8px;
}

input[type="file"] {
    border: none;
}